html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--black);
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

#app {
  display: contents;
}